<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12 d-block">
        <div class="row">
          <div
            class="col-md-6 topper align-items-center justify-content-md-center d-flex"
          >
            <span class="mr-2 fas fa-phone"></span>
            <span class="text">0908 288 0619</span>
          </div>
          <div
            class="col-md-6 topper align-items-center justify-content-md-center d-flex"
          >
            <span class="mr-2 fab fa-facebook"></span>
            <span class="text">www.facebook.com/headwayverasalon</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">HEADWAY SALON</a>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="/schedules" class="nav-link">Schedules</a>
        </li>

        <li class="nav-item" *ngIf="!userObj">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <ng-container *ngIf="userObj">
          <li class="nav-item">
            <a class="nav-link" href="#"
              >Signed in as: {{ userObj[0].username }}
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="logout()" class="btn btn-primary">Log Out</a>
          </li>
          <!-- <li class="nav-item">
            <a href="#" (click)="refreshToken()" class="btn btn-primary"
              >Refresh</a
            >
          </li> -->
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
